<div class="card">
	<div class="card-header header-elements-inline">
		<h5 class="card-title"><%= module.urbanIssues.language[page.lang].widget_title%></h5>
		<div class="header-elements">
			<div class="list-icons">
				<a class="list-icons-item" data-action="collapse"></a>
			</div>
		</div>
	</div>

	<div class="card-body">
		<div class="chart-container">
			<div class="chart has-fixed-height" id="issue_chart_bar"></div>
		</div>
	</div>
</div>