<li class="nav-item">
	<a id="issueSideBar" href="<%= module.urbanIssues.component.sideBar.link%>" class="nav-link">
		<i class="icon-copy"></i>
		<span><%=module.urbanIssues.language[page.lang].sidebar_title%></span>
	</a>
</li>